node_modules
.next
.netlify
out
dist
build
.DS_Store
*.local
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
**/.env
**/.env.local
**/.env.development.local
**/.env.test.local
**/.env.production.local
